# OS
.DS_Store

# Logs
*.log

# Node
node_modules/
.pnpm-store/

# NestJS / Node build
dist/

# .NET
bin/
obj/

# Python
__pycache__/
*.pyc
.venv/

# Env files
.env
.env.*
infra/.env

# Coverage
coverage/

# IDE
.vscode/
.idea/
